extends layout

block content
  h1= title
  p Welcome to #[em Inventory], a very basic Express website developed as an assignment of the Odin Project.

  h1 Dynamic content

  p Your inventory has the following record counts:

  ul
    li #[strong Items:] !{item_count}
    li #[strong Categories:] !{category_count}