extends layout

block title
  h1= 'User Login'

block content
  form.messageForm(method="POST" action="/log-in")
    div.userNameDialog
      label(for='username')  User name:
      input(placeholder='enter username', type='text', name='username' value=(undefined===username ? '' : username))
    div.messageDialog
      label(for='password')  Password:
      input(placeholder='enter password', type='password', name='password' value=(undefined===password ? '' : password))
    button.btn.btn-primary.sendButton(type='submit') Submit
    p.errorMessage #{message}