extends layout

block content
  form.credentialsForm(method="POST" action="/sign-up")
    div.userNameDialog
        label Full name:
        input(placeholder='enter full name', type='text', name='fullName', value='', onchange='{handleChange}')
    div.userNameDialog
      label User name:
      input(placeholder='enter username', type='text', name='username', value='', onchange='{handleChange}')
    div.messageDialog
      label Password:
      input(placeholder='enter password', type='password', name='password', value='', onchange='{handleChange}')
    div.messageDialog
      label Password Confirmation:
      input(placeholder='enter password confirmation', type='password', name='passwordConfirmation', value='', onchange='{handleChange}')
    button.btn.btn-primary.sendButton(type='submit') Submit
    if errors
      ul.errorMessage
        for error in errors
          li!= error.msg